.popup {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #4e90f3;
    background-image: linear-gradient(45deg, #6b9cff 25%, transparent 25%), linear-gradient(-45deg, #6b9cff 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #6b9cff 75%), linear-gradient(-45deg, transparent 75%, #6b9cff 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2% 2%;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 5px rgb(28, 75, 162));
  }
  
  /* The Close Button */
#closeButton {
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    filter: none !important;
  }
  
  #closeButton:hover,
  #closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }