.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;

  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;

  clear: both;
}

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 400px;
}

.purplestar {
  width: 393px;
  height: 400px;
  background-image: url('images/IMG_5075.PNG');
  background-size: 393px;
} 

.bluestar {
  width: 373px;
  height: 400px;
  background-image: url('images/bluestar_low_def.PNG');
  background-size: 373px;
}

.pinkstar {
  width: 413px;
  height: 400px;
  background-image: url('images/IMG_5162.PNG');
  background-size: 414px;
}

.blackstar {
  width: 384px;
  height: 400px;
  background-image: url('images/blackstar.PNG');
  background-size: 384px;
}

.closestar {
  width: 96px;
  height: 100px;
  background-image: url('images/tinystar.PNG');
  background-size: 96px;
}



/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

.flexbox {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }


  @media (min-width: 600px) {
    .flexbox { grid-template-columns: repeat(2, 1fr); }
  }
  
  @media (min-width: 900px) {
    .flexbox { grid-template-columns: repeat(3, 1fr); }
  }