html {
  background-color: rgb(201, 201, 201);
}

body {
    margin: 0 auto;
    max-width: 80%;
    padding: 1em 0;
    font-family: 'Comfortaa', cursive, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: rgb(255, 81, 18);
  }
  
  h1 {
    font-family: 'Comfortaa', cursive, Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 1.3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: rgb(255, 81, 18);
  }

.purplestar {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  background-image: url('IMG_5075.PNG');
  background-size: 500px;
}

.wovenbag {
  filter: saturate(200%);
  filter: drop-shadow(5px 5px 5px rgb(11, 11, 11));
}